@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Bold';
  src: url('../fonts/BebasNeueBold.eot');
  src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueBold.woff') format('woff'),
    url('../fonts/BebasNeueBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2.0 Light';
  src: url('../fonts/Exo20-Light.eot');
  src: url('../fonts/Exo20-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo20-Light.woff') format('woff'),
    url('../fonts/Exo20-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2.0 Bold';
  src: url('../fonts/Exo20-Bold.eot');
  src: url('../fonts/Exo20-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Exo20-Bold.woff') format('woff'),
    url('../fonts/Exo20-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin light {
  font-family: 'Proxima Nova Light', sans-serif;
}
@mixin regular {
  font-family: 'Proxima Nova Regular', sans-serif;
}
@mixin bold {
  font-family: 'Proxima Nova Bold', sans-serif;
}